.teacherPage {
  width: 1440px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.loadMore {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  margin-top: 64px;
  margin-bottom: 96px;
}
