.teacherPage {
  width: 1440px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 96px 0;
}
.loadMore {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  margin-top: 64px;
  margin-bottom: 96px;
}
.filters {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 1184px;
  align-items: start;
  /* margin-top: 96px; */
}
.select {
  border-radius: 14px;
  padding: 14px 16px;
  width: 221px;
  height: 48px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;

  border: 1px solid #e0e0e0;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.message {
  margin: 54px auto 0;
  color: rgb(221, 9, 9);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
}
